@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.container-pai {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .conteudo {
    // Add your mobile styles here
  }
}

// @media (min-width: 601px) and (max-width: 1024px) {
// }

@media (min-width: 1025px) {
  .conteudo {
    display: flex;
    flex-direction: column;
    width: 900px;
  }
}
